
    <!doctype html>
    <html>
    <head>
    <title>AH - Infinity Stones</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    </head>


    <body>
    
    <h1 style="line-height: 35px">
        Hello <span style="color: #5caad2;">{{username}}</span>
    </h1>

    <div style="line-height: 26px;">
        <p>You subscribed to ah!</p>
        <p>Please confirm your account by pressing the button below</p>
        
        <br>
        <p>Kindly note that the link expires in exactly one day as from {{time}}</p>
        <a href="{{link}}" style="color: #ffae00; text-decoration: none;">CONFIRM EMAIL</a>
    </div>

    </body>
    </html>
