<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>

<body>
  <main>
    <form method="POST" id="reset">
      <h5>Pease enter your new password<h5><br>
          <input type="text" value="password"></br>
          <br>
          <h5>Pease enter repeat your new password<h5><br>
              <input type="text" value="password"> <br>
              <a href="thanks" onclick="document.getElementById('thanks').submit();" id="d"> submit </a>
    </form>
    </div>
  </main>
</body>

</html>